@function t($px){   //$px为需要转换的字号
    @return $px / 50px * 1rem;   //50px为根字体大小
}

.judetail{
    padding-top:t(45px);
    margin-bottom:t(50px);
    background:#f0eff5;
    .jnarbar{
        position: fixed;
        top:0;
        left:0;
        right:0;
    }
    .juheader{
        display: flex;
        -webkit-box-orient: vertical;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        background-color: #00a6e2;
        color: #fff;
        padding-top: t(36px);
        margin-bottom:t(10px);
        .juhuibao{
            margin-bottom: t(20px);
            color: #69d7ff;
        }
        .huibaollv{
            font-size:t(69px);
        }
        .juhuibaox{
            margin-bottom:t(30px);
            span:first-child{padding-left:0;}
            span:last-child{
                border-right: 0;
                padding-right: 0;
            }
            span{
                display: inline-block;
                font-size: t(12px);
                padding: 0 t(40px);
                border-right: t(1px) solid #44c2ef;
                p{
                    text-align: center;
                    line-height: t(20px);
                }
                .juhuibaoxa{color: #69d7ff}
            }
        }
    }
    .depositBox___3W0pR{
        background-color: #fff;
        margin-bottom:t(10px);
        .profit___27atc{
            padding: t(15px) 0;
            border-bottom: t(1px) solid #e5e5e5;
            p{
                padding: 0 t(15px);
                font-size: t(16px);
            }
        }
        .profitContent____gsW2{
            padding: t(15px) t(15px) t(23px);
            .profitText___3Nr1w{
                font-size: t(14px);
                color: #666;
                margin-bottom: t(6px);
            }
            .profitText1___YznYQ{
                font-size: t(12px);
                color: #d2d2d2;
                margin-bottom: t(20px);
            }
            .profitNum___3u538{
                font-size: t(22px);
                color: #f70;
                vertical-align: bottom;
                span{
                    display: inline-block;
                    font-size: t(14px);
                    padding-bottom: t(4px);
                    vertical-align: bottom;
                }
            }
        }
        .iconUl___M6ohw{
            display: block;
            width: 100%;
            li{
                display: inline-block;
                width: 25%;
                span{
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-size: t(12px);
                    color: #666;
                }
                img{
                    width: t(30px);
                    margin-bottom: t(10px);
                }
            }
        }
    }
    .pdAll___1ulsI{
        padding: t(20px) t(17px);
    }
    .pdAll1___1FTYt{
        padding: t(15px);
        font-size:t(16px);
    }
    .jubottom{
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: t(50px);
        .haha{
            background-color:#59c5ec;
            .jucalculator{
                height: 100%;
                background: url(https://mobile.bao.cn/static/media/calculator.448bba73.png) no-repeat center center;
                background-size: 50%;
                width: t(50px);
            }
        }
        
        button{
            -webkit-box-flex: 1;
            flex: 1;
            font-size: t(18px);
            color: #fff;
            background-color: #00a6e2;
            border: 0;
        }
    }  
}

//弹出内容样式
//弹出内容样式

.am-modal-content {
    background-color:#f0eff5;
    #jisuan{
        .jimodal{
            width:100%;
            // position: absolute;
            bottom: 0;
            padding-bottom: t(30px);
            height: auto;
            background-color: #f0eff5;
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            .p1___3pa_N{
                font-size: t(15px);
            }
            .jiresult{
                font-size: t(35px);
                color: #ff7701;
                margin-top: t(15px);
            }
            .form___EfhjB{
                display: flex;
                background-color: #fff;
                margin-top: t(10px);
                height: t(90px);
                align-self: stretch;
                padding: 0 t(15px);
                -webkit-box-orient: vertical;
                flex-direction: column;
                border-top: t(1px) solid #ddd;
                border-bottom: t(1px) solid #ddd;
                .row___3o5-0{
                    flex: 1;
                    display: flex;
                    span{
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;    
                    }
                    span:nth-child(1){
                        margin-right: t(15px);
                    }
                    input{
                        box-sizing:border-box;
                        font-size: t(14px);
                        -webkit-box-flex: 1;
                        flex: 1;
                        color: #00a6e2;
                        overflow: visible;
                        line-height: 1.15;
                        margin: 0;
                        // border:t(1px) solid black;
                    }
                }
                .border___3DYF6{
                    height: t(1px);
                    background-color: #ddd;
                }
            }
            .p3___ZTdqK{
                margin: t(15px);
                font-size: t(14px);
                color: #888;
                text-align: left;
                align-self: stretch;
            }
        }
    }
}
